/*reset*/
*
  box-sizing border-box
  font inherit
  font-family arial
  font-size 100%
  line-height 1.6
  margin 0
  padding 0
  a, a:hover
    text-decoration none
 //Menu
 .menu
   background-color #333
   display flex
   flex-direction row   
   padding 1rem
   .links
      a
       color #fff
       display block
       font-size 0.89rem
       padding 0.89rem
   @media(min-width: 48rem)  
     .links
        display block
        width 80%
        a 
         display inline