nav.navbar.navbar-expand-lg.navbar-dark
  a.navbar-brand(href='#') Andr&eacute; Rodrigues
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li#itens.nav-item
        a.nav-link(href='~~endereco~~') ~~link~~
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Pesquisar
// /MENU
header.banner
  .container
    .row
      #banner.col-md-12.text-center
        h2.hello ~~bannerText~~
// /header
section
  .container
    .row#theDev
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        h2 ~~about~~
        p ~~about_text~~
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        img.img-responsive.img-fluid(src='~~eu~~' alt='Foto-Andre-Rodrigues' title='André-Rodrigues')
  
    